.shop-item {
    display:flex;   
    height: 95px;   
    justify-content: space-between;
    background-color: #f5f5f5;
    margin-bottom: 5px;
    padding: 0 15px;
};

.shop-item__name {
display: flex;
align-items: center;
};

.shop-item__color {
    display: flex;
    align-items: center;
};

.shop-item__price{
    display: flex;
    align-items: center;
    color: red;
};
